footer
    text-align: center
    padding: 20px 0 40px
    .wrap
        justify-content: center
        border-bottom: 1px solid rgba(255, 255, 255, .1)
        padding: 30px
        margin-bottom: 40px
        a
            display: inline-block
            padding: 10px

    p
        margin: 0
        color: rgba(255, 255, 255, .5)
        a
            padding: 4px

    &.white
        // color: #000
        // .wrap
        //     border-bottom: 1px solid rgba(0, 0, 0, .2)
        // p
        //     color: rgba(0, 0, 0, .8)

        // a
        //     color: #000

        // img
        //     filter: invert(1)
