@import 'normolize'
@import 'elements'
@import 'header'
@import 'footer'

.main 
    position: relative
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    min-height: 100vh
    background-image: url('../img/main.jpg')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    padding-top: 80px
    &::before
        content: ''
        display: block
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,1))
        z-index: -1
    h1 
        max-width: 620px
        margin-bottom: 30px
        
    .row 
        margin-bottom: 30px

    .feature
        max-width: 40%
        &__heading 
            background-image: url('../img/check.svg')
            background-repeat: no-repeat
            background-size: 20px 20px
            background-position: top 2px left 
            padding-left: 30px
            margin: 0 0 20px

        &-wrap
            align-items: flex-start 
